<script>
  import Nav from '../components/Nav.svelte';
  import { getContext } from 'svelte';
  import { setContext } from 'svelte';
  import { stores } from "@sapper/app";
  import { meta, notification } from './_stores';
  import Toast from '../components/Toast.svelte';
  import { onMount } from 'svelte';
  
  const { page } = stores();

  page.subscribe(({ path, params, query }) => {
      $meta.lang = $page.path.split('/')[1];
      if (!["en", "fr"].includes($meta.lang)) {
			  $meta.lang = undefined;
      }
      $meta.altLang = {"en":"fr", "fr":"en"}[$meta.lang];
      $meta.slugs = $page.path.split('/').slice(1);
      $meta.path = path;
      if (process.browser) {
	      localStorage.lang = $meta.lang;
      }
  });

  let showToast;

  onMount(async () => {
    notification.subscribe(message => {
      if (message) {
        console.log(message, typeof showToast);
        showToast();
      }
    });
  });
</script>

<style>

</style>

{#if $meta.lang !== 'undefined' && $meta.lang === 'en'}
  <img src="/branding/Banner-bil_eng_first.jpg" alt="PSPC banner" width="100%" id="banner-img" />
{:else}
  <img src="/branding/Banner-bil_fre_first.jpg" alt="Bannière SPAC" width="100%" id="banner-img" />
{/if}

<main>
  <slot></slot>
</main>

{#if $page.path !== '/'}
  <Nav />
  <Toast title="{notification.title}" body="{notification.body}" link="{notification.link}" bind:toggle={showToast} />
{/if}
