<script>
  export let title;
  export let translation;
  
  import { stores } from "@sapper/app";
  import { meta } from "./_stores";
  import { onMount } from 'svelte';
  
  const { page } = stores();
  page.subscribe(({ path, params, query }) => {
    $meta.translation = '/' + $meta.altLang + '/' + translation.match(/(.+?)(\.md$|$)/)[1];
  });

  onMount(async () => {
    if (process.browser) {
      // color the main table with a step gradient
      const rows = document.querySelectorAll('main > table > tbody > tr');
      const hexToRgb = hex => hex.replace(/^#?([a-f\d])([a-f\d])([a-f\d])$/i, (m, r, g, b) => '#' + r + r + g + g + b + b)
        .substring(1).match(/.{2}/g)
        .map(x => parseInt(x, 16));
      const steps = rows.length - 1;
      const startColor = hexToRgb('#c3d941');
      const endColor = hexToRgb('#5b1a51');
      rows.forEach( (row, i) => {
        const r = (startColor[0] + i * ((endColor[0] - startColor[0]) / steps));
        const g = (startColor[1] + i * ((endColor[1] - startColor[1]) / steps));
        const b = (startColor[2] + i * ((endColor[2] - startColor[2]) / steps));
        row.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
        row.style.borderTop = `1px solid rgb(${r}, ${g}, ${b})`;
      });
    }
  });
  
</script>

<svelte:head>
  <meta name="dc.language" lang="{$meta.lang}" title="ISO639-2" content="{{"en":"eng", "fr":"fra"}[$meta.lang]}">
  <title>{title}</title>
</svelte:head>

{#if !["/en/home", "/fr/accueil"].includes($page.path)}
  <h4>{ title }</h4>
{/if}

<slot>
  <!-- the mdsvex content will be slotted in here -->
</slot>
