<!-- splash page -->
<style>
	#bg {
		height: 200%;
		left: -50%;
		position: fixed;
		top: -50%;
		width: 200%;
	}
	#bg img {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		min-height: 50%;
		min-width: 50%;
		position: absolute;
	}
	main {
		position: relative;
	}
	.wb-inv {
		clip: rect(1px,1px,1px,1px);
		height: 1px;
		margin: 0;
		overflow: hidden;
		position: absolute;
		width: 1px;
	}
	:global(#sp-hb) {
		background-color: #f8f8f8;
    	padding: 30px 30px 19px;
		margin: 50px auto;
    	width: 300px;
		text-align: center;
	}
	:global(.btn-primary) {
		box-shadow: 0 4px #ddd;
		margin: 35px 0 14px;
		min-width: 100px;
	}
</style>

<svelte:head>
	<title>MonAppRH SPAC - MyHRApp PSPC</title>
	<meta name="dc.language" title="ISO639-2" content="eng">
	<meta name="dc.language" lang="fr" title="ISO639-2" content="fra">
	<meta name="robots" content="noindex, nofollow, noarchive">
</svelte:head>

<div id="bg"><img id="splash-image" src="/branding/sp-bg-1.jpg" alt=""></div>

<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
	<h1 property="name" class="wb-inv">MonAppRH SPAC - MyHRApp PSPC</h1>
	<div id="sp-hb">
		<Row>
			<Col>
				<img src="/branding/sig-blk-fra.svg" alt="Government of Canada / Gouvernement du Canada"/>
			</Col>
		</Row>
		{#if process.browser}
		<Row>
			<Col>
				<Button href="/fr/accueil" color="primary" on:click="{()=>toggleLang('fr')}" aria-label="Français">Français</Button>
			</Col>
			<Col>
				<Button href="/en/home" color="primary" on:click="{()=>toggleLang('en')}" aria-label="English">English</Button>
			</Col>
		</Row>
		{/if}
	</div>
</main>

<script>
	import { Button, Col, Row } from 'sveltestrap';
	import { meta } from './_stores';

	const toggleLang = (lang) => {
		$meta.lang = lang;
		$meta.altLang = {"en":"fr", "fr":"en"}[$meta.lang];
		if (process.browser) {
			localStorage.lang = $meta.lang;
			setMessagingTopic();
		}
	};
</script>

<script context="module">
	export async function preload(page, session) {
		// If the user has previously selected a preferred language, skip the splash page for them.
		if (process.browser && ["en", "fr"].includes(localStorage.lang)) {
			return this.redirect(301, localStorage.lang === 'en' ? '/en/home' : '/fr/accueil');
		}
	}
</script>
