<script>
	import {
    //Collapse,
    Navbar,
    Nav,
    NavItem,
    NavLink
  } from 'sveltestrap';
  import Collapse from './Collapse.svelte';
  import Settings from "svelte-material-icons/Settings.svelte";
  import Home from "svelte-material-icons/Home.svelte";
  import Menu from "svelte-material-icons/Menu.svelte";
  import { Col, Row } from 'sveltestrap';
  import { meta } from '../routes/_stores.js';
  
  export let isMenuOpen = false;
  export let isSettingsOpen = false;

  const toggleMenuOpen = () => {
    isMenuOpen = !isMenuOpen;
    isSettingsOpen = false;
  };

  const toggleSettingsOpen = () => {
    isSettingsOpen = !isSettingsOpen;
    isMenuOpen = false;
  };
  
  const toggleLang = (lang, event) => {
    $meta.lang = lang;
    $meta.altLang = {"en":"fr", "fr":"en"}[$meta.lang];
    $meta.path = $meta.translation;
    $meta.slugs = $meta.path.split('/').slice(1);
    if (process.browser) {
      localStorage.lang = $meta.lang;
    }
    isSettingsOpen = false;
  };
</script>

<svelte:window on:click={() => (isMenuOpen = isSettingsOpen = false)} />

<Navbar color="light" light class="dropup">
  <Collapse isOpen={isMenuOpen} navbar>
    <Nav navbar>
      <NavItem>
        <NavLink href="#">Abbreviations & Acronymns</NavLink>
      </NavItem>
      <NavItem>
        <NavLink href="#">Feedback</NavLink>
      </NavItem>
      <NavItem>
        <NavLink href="#">About</NavLink>
      </NavItem>
    </Nav>
  </Collapse>
  <Collapse isOpen={isSettingsOpen} navbar id="adsklfj">
    <Row>
      <Col>
       <div class="text-center">{$meta.lang==='fr' ? 'Langue préférée :' : 'Preferred language:'}</div>
      </Col>
    </Row>
    <Row>
      <Col>
       <a class="btn btn-primary{$meta.lang==='fr' ? ' disabled' : ''}" href="{$meta.lang === 'fr' ? $meta.path : $meta.translation}" on:click|stopPropagation={(e)=>toggleLang('fr', e)} aria-label="Français">Français</a>
			</Col>
			<Col>
       <a class="btn btn-primary{$meta.lang==='en' ? ' disabled' : ''}" href="{$meta.lang === 'en' ? $meta.path : $meta.translation}" on:click|stopPropagation={(e)=>toggleLang('en', e)} aria-label="English">English</a>
			</Col>
		</Row>
  </Collapse>
  <Nav navbar class="navbar-row">
    <NavItem class="navbar-toggler">
      <button class="btn nav-link" on:click|stopPropagation={toggleMenuOpen} aria-label="Menu"><Menu></Menu></button>
    </NavItem>
    <NavItem class="navbar-toggler">
     <a href="{$meta.lang === 'en' ? '/en/home' : '/fr/accueil'}" class="nav-link" aria-label="Home"><Home></Home></a>
    </NavItem>
    <NavItem class="navbar-toggler">
      <button class="btn nav-link" on:click|stopPropagation={toggleSettingsOpen} aria-label="Settings"><Settings></Settings></button>
    </NavItem>
  </Nav>
</Navbar>
