<script>
    import { Toast, ToastBody, ToastHeader } from 'sveltestrap';
    import { goto } from '@sapper/app';

    export let title;
    export let body;
    export let link;
    let isOpen = false;

    export function toggle() {
        isOpen = !isOpen;
    }
 </script>

<div class="toast-wrapper bg-secondary">
    <Toast secondary {isOpen}>
        <ToastHeader {toggle}>{title}</ToastHeader>
        <div on:click={() => goto(link ? link : '/')}>
            <ToastBody>
                {body}
            </ToastBody>
        </div>
    </Toast>
</div>

<style>
    .toast-wrapper {
        width: 350px;
        max-width: 95%;
        position: fixed;
        bottom: 0;
        right: 0;
    }
</style>