body {
	width: 100%;
	max-width: 1275px;
	display: block;
	margin: 0 auto;
}

#sapper {
	width: inherit;
	max-width: inherit;
}

main {
	box-sizing: border-box;
	margin-bottom: calc(1.5rem + 4px); /* nav's height */
	overflow-y: auto;
}

main > table {
	width: 100%;
}
main > table > thead > th:empty {
	padding: 0;
	border: none;
}
main > table > tbody > tr {
	box-shadow: 0px -4px 6px 0px rgb(0 0 0 / 33%);
}
main > table > tbody > tr > td {
    padding: 1.25rem;
    vertical-align: top;
}
main > table a, main > table a:hover {
	color: #fff;
	text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000;
}

.btn-primary {
	background-color: #26374a;
	border-color: #26374a;
}
.text-primary {
	color: #26374a;
}
.bg-primary, .badge-primary {
	background-color: #26374a;
}

.navbar {
	position: fixed;
	bottom: 0;
	width: inherit;
	max-width: inherit;
	opacity: .95;
	justify-content: center;
	flex-direction: column;
	padding: 0;
}
.navbar-row {
	flex-direction: row;
}
.nav-item:hover, .nav-item:active {
	background-color: #6F6F6F;
}
.nav-item:hover .nav-link, .nav-item:active .nav-link {
	color: #fff;
}
.navbar-toggler {
	margin: 0 1em;
	padding: 0;
	border: none;
}
.nav-link {
	padding: 0 .75rem;
}
.navbar-collapse {
	margin-bottom: .5rem;
}
.navbar-collapse .nav-item {
	border-bottom: 1px solid #8e939a;
}

@media (min-width: 400px) {
	body {
		/*font-size: 16px;*/
	}
}